:host {
  position: fixed; bottom: 0; left: 0; right: 0;
}

#dark-mode-switch {
  background-color: var(--card-background);
  border-top: 1px solid var(--card-border);
  color: var(--on-primary);
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
}
