<div id="dark-mode-switch">
    <span>Light mode</span>
    <ui-switch (change)="onChangeEvent()" [(ngModel)]="darkMode" switchColor="#d2d2d2" defaultBgColor="#e9e9e9" color="#202124" size="small" class="mx-3"></ui-switch>
    <span>Dark mode</span>
</div>
