<div [ngClass]="{
        'rows-height-sm': dataTable.rowsHeight === 'sm',
        'loading-container': dataTable.data === undefined
    }">
  <div class="table-responsive">
    <table class="datatable table" [ngClass]="{'table-hover': dataTable.tableHover, 'table-clickable': dataTable.tableClickable}">
      <thead *ngIf="dataTable.showHeader">
      <tr>
        <th *ngIf="dataTable.dataChart"></th>
        <th scope="col"
            *ngFor="let col of dataTable.cols"
            [ngClass]="'text-' + col.align">
          <span>{{ col.name }}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dataTable.data; let i = index" (click)="handleClick(row)" [ngClass]="{'selected': rowSelected === row}">
        <td *ngIf="dataTable.dataChart">
            <jhi-dot-cell [color]="chartColors[i]" *ngIf="chartColors[i] !== undefined && i < dataTable.dataChart.data.labels.length"></jhi-dot-cell>
        </td>
        <td *ngFor="let col of row; index as i"
            class="text-{{ dataTable.cols[i].align }}"
            [ngClass]="{'datatable-icon-cell': dataTable.cols[i].type === 'icon'}"
            [ngSwitch]="dataTable.cols[i].type">
          <span *ngSwitchCase="'label'">
            <jhi-label-cell [col]="dataTable.cols[i]" [data]="col"></jhi-label-cell>
          </span>
          <span *ngSwitchCase="'percentage'" [ngClass]="{'d-flex justify-content-between align-items-center': dataTable.cols[i].progressbar}">
            <jhi-percentage-cell [column]="dataTable.cols[i]" [data]="col"></jhi-percentage-cell>
          </span>
          <span *ngSwitchCase="'price'">
              <jhi-price-cell [col]="dataTable.cols[i]" [data]="col"></jhi-price-cell>
          </span>
          <span *ngSwitchCase="'options'">
            <jhi-options-cell [data]="col"></jhi-options-cell>
          </span>
          <span *ngSwitchCase="'button'">
            <jhi-button-cell [data]="col"></jhi-button-cell>
          </span>
          <span *ngSwitchCase="'icon'" class="datatable-icon">
            <jhi-icon-cell [data]="col"></jhi-icon-cell>
          </span>
          <span *ngSwitchCase="'combined'">
            <jhi-combined-cell [column]="dataTable.cols[i]" [data]="col"></jhi-combined-cell>
          </span>
          <span *ngSwitchCase="'date'">
            <jhi-date-cell [column]="dataTable.cols[i]" [data]="col"></jhi-date-cell>
          </span>
          <span *ngSwitchDefault class="d-flex align-items-center" [ngClass]="{'flex-row-reverse': dataTable.cols[i].align === 'right'}">
            <jhi-string-cell [data]="col"></jhi-string-cell>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
