<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-5 col-xl-3 mt-3 mt-md-5">
        <jhi-back-button [backLink]="'/account/index'"></jhi-back-button>
        <jhi-login-form></jhi-login-form>
    </div>
</div>
