<form role="form" [formGroup]="exchangesForm" (ngSubmit)="sendApiKeys($event)">
  <div class="form-group">
    <label class="form-control-label" for="{{ exchange.id }}-publickey">Public API KEY</label>
    <input type="text" class="form-control" id="{{ exchange.id }}-publickey" name="publickey" formControlName="publickey">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="{{ exchange.id }}-privatekey">Private API KEY</label>
    <input type="password" class="form-control" id="{{ exchange.id }}-privatekey" name="privatekey" formControlName="privatekey">
  </div>
  <button type="submit" class="btn btn-login btn-block mt-3 mb-1" [disabled]="exchangesForm.invalid">Confirm</button>
</form>
