<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 col-lg-3">
            <div class="dashboard-card">
                <h4 class="mb-4 text-center">{{ 'DASHBOARD.TABLE.PORTFOLIO' | translate }}</h4>
                <jhi-chart [chartData]="dataResume.dataChart"></jhi-chart>
                <jhi-data-table [dataTable]="dataResume"></jhi-data-table>
            </div>
        </div>
        <div class="col-md-4 col-lg-6">
            <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                    <div class="dashboard-card">
                        <h4 class="mb-4 text-center">{{ 'DASHBOARD.TABLE.OPENED_POSITIONS' | translate }}</h4>
                        <jhi-chart [chartData]="openedPositions.dataChart"></jhi-chart>
                        <jhi-data-table [dataTable]="openedPositions"></jhi-data-table>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                    <ng-template ngxPermissionsOnly="ADMIN">
                        <div class="dashboard-card">
                            <h4 class="mb-4 text-center">{{ 'DASHBOARD.TABLE.MARKET_SHARE' | translate }}</h4>
                            <jhi-data-table [dataTable]="marketShare"></jhi-data-table>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="dashboard-card">
                        <h4 class="mb-4">{{ 'DASHBOARD.TABLE.LAST_TRADES' | translate }}</h4>
                        <jhi-data-table [dataTable]="lastTrades"></jhi-data-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="dashboard-card">
                <h4 class="mb-4 text-center">{{ 'DASHBOARD.TABLE.BALANCE_ROI' | translate }}</h4>
                <jhi-data-table [dataTable]="balanceRoi"></jhi-data-table>
            </div>
        </div>
    </div>
</div>
