<span>{{ data }}%</span>
<span class="w-60" *ngIf="column.progressbar">
  <div class="progress">
  <div class="progress-bar" role="progressbar"
       aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': data}">
    <span class="sr-only">{{ data }}% Complete</span>
  </div>
</div>
</span>
