<div class="container-fluid">
  <div class="row mt-5 overposition">
    <div class="col-md-8 col-lg-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab === 'opened'}" (click)="openTab('opened')">{{ 'PORTFOLIO.TABS.OPENED' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab === 'closed'}" (click)="openTab('closed')">{{ 'PORTFOLIO.TABS.CLOSED' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="dashboard-card">
        <jhi-data-table [dataTable]="openedTable" (clickOutput)="showTradeDetails($event)" *ngIf="currentTab === 'opened'"></jhi-data-table>
        <jhi-data-table [dataTable]="closedTable" *ngIf="currentTab === 'closed'"></jhi-data-table>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="dashboard-card">
          <div *ngIf="currentTab === 'opened'">
              <h4 class="mb-4 text-center">{{ 'PORTFOLIO.TABLE.OPENED_POSITIONS' | translate }}</h4>
              <jhi-chart [chartData]="openedPositions.dataChart"></jhi-chart>
              <jhi-data-table [dataTable]="openedPositions"></jhi-data-table>
          </div>
          <div *ngIf="currentTab === 'closed'">
              <h4 class="mb-4 text-center">{{ 'PORTFOLIO.TABLE.CLOSED_POSITIONS' | translate }}</h4>
              <jhi-chart [chartData]="closedPositions.dataChart"></jhi-chart>
              <jhi-data-table [dataTable]="closedPositions"></jhi-data-table>
          </div>
      </div>
    </div>
  </div>
</div>
