@import './../../../content/scss/bootstrap-variables';

.status-dot {
  background-color: $primary;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
