<div class="orderbook-container">
    <h4 class="text-center mb-3">Order book</h4>
    <div class="orderbook-body">
        <div class="orderbook-buy rows-height-sm">
            <div class="table-responsive">
                <table class="datatable table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Total</th>
                            <th scope="col" class="text-center">Amount</th>
                            <th scope="col" class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                        <tr>
                            <td class="text-center text-success">0.3</td>
                            <td class="text-center text-success">0.3233</td>
                            <td class="text-center text-success">0.12345678</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="orderbook-sell rows-height-sm">
            <div class="table-responsive">
                <table class="datatable table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Amount</th>
                        <th scope="col" class="text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger">0.12345678</td>
                        <td class="text-center text-danger">0.3233</td>
                        <td class="text-center text-danger">0.3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
