@import '../../../content/scss/imports';

.orderbook-container {
  .orderbook-body {
    display: flex;
    .orderbook-buy,
    .orderbook-sell {
      flex: 1 1 auto;
    }
    .orderbook-buy {
      border-right: 1px solid var(--input-border-color);
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .orderbook-container {
    .orderbook-body {
      flex-direction: column;
      .orderbook-buy {
        border-right-width: 0;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .orderbook-container {
    .orderbook-body {
      flex-direction: column;
      .orderbook-buy {
        border-right-width: 0;
      }
    }
  }
}
