:host {
  display: flex; align-items: center;
  height: 60px;
  margin-right: 15px;
}

ul {
  display: flex; align-items: center;
  list-style: none;
  margin-bottom: 0;
  li {
    a {
      font-weight: normal;
      &.active {
        font-weight: bold;
      }
    }
    &:not(:first-child) {
      &::before {
        content: "|";
        margin: auto 5px;
      }
    }
  }
}
