<ul>
    <li><a (click)="setLanguage('en')" [ngClass]="{'active': activeLang === 'en'}">EN</a></li>
    <li><a (click)="setLanguage('es')" [ngClass]="{'active': activeLang === 'es'}">ES</a></li>
</ul>
