<span class="dashboard-table-row-options" ngbDropdown>
  <button class="btn btn-light btn-sm" ngbDropdownToggle>
    <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"></path>
    </svg>
  </button>
  <span class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
<!--    <a class="dropdown-item" *ngFor="let option of col | keyvalue" routerLink="{{option.value}}" ngbDropdownItem>-->
    <a class="dropdown-item" *ngFor="let option of col | keyvalue" ngbDropdownItem>
      {{ option.key }}
    </a>
  </span>
</span>
