<div class="container-fluid">
    <div class="row mt-5 overposition">
        <div class="col-md-7">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'arbitration'}" (click)="openTab('arbitration')">
                        <span>Arbitration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'closedArbitration'}" (click)="openTab('closedArbitration')">
                        <span>Closed</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" *ngIf="currentTab === 'arbitration'">
        <div class="col-12">
            <div class="dashboard-card">
                <jhi-data-table [dataTable]="arbitrationTable"></jhi-data-table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="currentTab === 'closedArbitration'">
        <div class="col-md-7">
            <div class="dashboard-card">
                <jhi-data-table [dataTable]="closedTable"></jhi-data-table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="dashboard-card">
                <div class="row">
                    <div class="col-6">
                        <h4 class="mb-4 text-center">Profits per Market</h4>
                        <jhi-chart [chartData]="profitsTable.dataChart"></jhi-chart>
                        <jhi-data-table [dataTable]="profitsTable"></jhi-data-table>
                    </div>
                    <div class="col-6">
                        <jhi-chart [chartData]="profitsChart24h"></jhi-chart>
                        <jhi-chart [chartData]="profitsChart7d"></jhi-chart>
                        <jhi-chart [chartData]="profitsChart30d"></jhi-chart>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary">Download order history</button>
            </div>
        </div>
    </div>
</div>
