<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-4 col-xl-3">
            <div class="dashboard-card">
                <jhi-personal-data></jhi-personal-data>
            </div>
            <div class="dashboard-card" *ngxPermissionsOnly="['ADMIN']">
                <p>Este componente aparece solo para admins</p>
                <button class="btn btn-danger btn-block mt-3 mb-1">Eliminar usuario</button>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="dashboard-card">
                <jhi-exchange-status></jhi-exchange-status>
            </div>
        </div>
    </div>
</div>
