<div class="personaldata-container p-2">
  <div class="row align-items-center">
    <img class="personaldata-user-avatar rounded-circle mr-2" src="https://via.placeholder.com/150" alt="">
    <div class="personaldata-username">Nombre usuario</div>
  </div>
  <div class="mt-5">
    <form name="form" role="form" [formGroup]="profileForm">
      <div class="form-group">
        <label class="form-control-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your name"
               formControlName="name">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
               formControlName="email">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="New password"
               formControlName="password">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Confirm the new password"
               formControlName="phone">
      </div>

      <div class="mt-5">
        <div class="d-flex justify-content-between">
          <label>Notifications:</label>
          <ui-switch size="small" color="#1375b4"></ui-switch>
        </div>
        <div class="d-flex justify-content-between mt-1">
          <label>2FA authentication:</label>
          <ui-switch size="small" color="#1375b4"></ui-switch>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4 col-lg-12">
          <button type="submit" class="btn btn-login btn-block mt-3 mb-1">Confirm</button>
        </div>
      </div>
    </form>
  </div>
</div>
