@import '../../../content/scss/variables';

:host {
  display: block;
  height: 100%;
  .pairlist-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .pairlist-header {
      form {
        position: relative;
        input,
        select {
          font-size: .7rem;
        }
        input {
          border-left: 0;
          padding-left: 8px;
        }
        #pair-search-container {
          height: 30px;
          max-width: 50%;
          width: auto;
          .input-group-prepend,
          #pair-search {
            height: 100%;
          }
          .input-group-text {
            background-color: var(--card-background);
            border-color: var(--card-border);
            border-right: 0;
            font-size: .8rem;
            padding-left: 8px;
            padding-right: 0;
          }
        }
      }
    }
    .pairlist-body {
      border: 1px solid var(--input-border-color);
      border-radius: 0 5px 5px 5px;
      flex-basis: 100%;
      overflow: scroll;
      padding: 10px;
      width: 100%;
    }
  }
}
