<div class="pairlist-container" [ngClass]="{'loading-container': pairListTableData.data === undefined}">
    <div class="pairlist-header">
        <form class="d-flex justify-content-between">
            <div class="input-group" id="pair-search-container">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" (keyup)="filterList($event)" class="form-control" id="pair-search" placeholder="Search Pair">
            </div>
            <div class="form-group">
                <select class="form-control" id="pair-select">
                    <option>BTC</option>
                    <option>XRP</option>
                    <option>LTC</option>
                </select>
            </div>
        </form>
    </div>
    <div class="pairlist-body" [ngStyle]="{'max-height': pairListMaxHeight}">
        <jhi-data-table [dataTable]="pairListTableData" (clickOutput)="rowClick($event)" *ngIf="pairListTableData.id !== undefined"></jhi-data-table>
    </div>
</div>
