<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete operation</h4>
        <a aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="clear()">
            <span aria-hidden="true">
                <fa-icon [icon]="faTimes"></fa-icon>
            </span>
        </a>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to delete this User?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Delete</span>
        </button>
    </div>
</form>
