<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-8 col-lg-9">
            <div class="dashboard-card">
                <h2>
                    <span id="user-management-page-heading">Users</span>
                    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
                        <fa-icon [icon]="'plus'"></fa-icon> <span>Create a new User</span>
                    </button>
                </h2>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <div class="loading-container" *ngIf="!users"></div>
                <div class="table-responsive" *ngIf="users">
                    <table class="datatable table table-hover" aria-describedby="user-management-page-heading">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col"  jhiSortBy="login"><span>Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col"></th>
                            <th scope="col"><span>Profiles</span></th>
                            <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody *ngIf ="users">
                        <tr *ngFor="let user of users; trackBy: trackIdentity">
                            <td><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td>
                            <td>{{user.login}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                                >Deactivated</button>
                                <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                                        [disabled]="!currentAccount || currentAccount.login === user.login">Activated</button>
                            </td>

                            <td>
                                <div *ngFor="let authority of user.authorities">
                                    <span class="badge badge-info">{{ authority }}</span>
                                </div>
                            </td>
                            <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                            <td>{{user.lastModifiedBy}}</td>
                            <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit"
                                            [routerLink]="['./', user.login, 'view']"
                                            class="btn btn-circle btn-secondary btn-sm"
                                            ngbTooltip="View">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['./', user.login, 'edit']"
                                            queryParamsHandling="merge"
                                            class="btn btn-circle btn-primary btn-sm"
                                            ngbTooltip="Edit">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </button>
<!--                                    [disabled]="!currentAccount || currentAccount.login === user.login"-->
                                    <button type="button" (click)="deleteUser(user)"
                                            class="btn btn-circle btn-danger btn-sm"
                                            ngbTooltip="Delete">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="users">
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
                <div class="row justify-content-center mt-1">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
            </div>
        </div>
    </div>
</div>
