<div class="container-fluid">
  <div class="row mt-5 overposition">
    <div class="col-md-8 col-lg-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab === 'byCurrency'}" (click)="openTab('byCurrency')">{{ 'TRADING.TABS.BY_CURRENCY' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab === 'byExchange'}" (click)="openTab('byExchange')">{{ 'TRADING.TABS.BY_EXCHANGE' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="dashboard-card">
        <jhi-data-table [dataTable]="byCurrencyTable" *ngIf="currentTab === 'byCurrency'"></jhi-data-table>
        <jhi-data-table [dataTable]="byExchangeTable" *ngIf="currentTab === 'byExchange'"></jhi-data-table>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="dashboard-card">
        <div *ngIf="currentTab === 'byCurrency'">
          <h4 class="mb-4 text-center">{{ 'TRADING.TABLE.CRYPTOCURRENCY_RESUME' | translate }}</h4>
          <jhi-chart [chartData]="cryptocurrencyResume.dataChart"></jhi-chart>
          <jhi-data-table [dataTable]="cryptocurrencyResume"></jhi-data-table>
        </div>
        <div *ngIf="currentTab === 'byExchange'">
          <h4 class="mb-4 text-center">{{ 'TRADING.TABLE.EXCHANGE_RESUME' | translate }}</h4>
          <jhi-chart [chartData]="exchangeResume.dataChart"></jhi-chart>
          <jhi-data-table [dataTable]="exchangeResume"></jhi-data-table>
        </div>
      </div>
    </div>
  </div>
</div>
