<div class="container-fluid">
    <div class="row mt-5 overposition">
        <div class="col-md-7">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'buyTab'}" (click)="openTab('buyTab')">
                        <span>Buy</span>
                        <jhi-status-dot [dotData]="{'class': 'bg-success'}"></jhi-status-dot>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'sellTab'}" (click)="openTab('sellTab')">
                        <span>Sell</span>
                        <jhi-status-dot [dotData]="{'class': 'bg-danger'}"></jhi-status-dot>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="dashboard-card">
                <div class="row">
                    <div class="col-12 col-xl-4 mb-3">
                        <form class="form" role="form" id="buysell-form" (ngSubmit)="buySellSubmit()" [formGroup]="buySellForm">
                            <div class="form-group">
                                <label for="currentExchange">Exchange</label>
                                <select class="form-control" id="currentExchange"
                                        (change)="dataChanged($event)">
                                    <option [value]="exchange.id" *ngFor="let exchange of exchanges">{{ exchange.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="price-select">Price</label>
                                <select class="form-control" id="price-select">
                                    <option value="1">Last</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="amount-label" for="amount">Amount</label>
                                <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount"
                                       formControlName="amount" #amount>
                            </div>
                            <div class="form-group">
                                <label class="total-label" for="total">Total</label>
                                <input type="number" class="form-control" name="total" id="total" placeholder="Total"
                                       formControlName="total" #total>
                            </div>
                            <button type="submit" class="btn btn-block mt-3 mb-1"
                                    [ngClass]="{
                                        'btn-success': currentTab === 'buyTab',
                                        'btn-danger': currentTab === 'sellTab'
                                    }"
                                    [disabled]="buySellForm.invalid">
                                <span *ngIf="currentTab === 'buyTab'">Buy {{ pairSelected }}</span>
                                <span *ngIf="currentTab === 'sellTab'">Sell {{ pairSelected }}</span>
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
                        <jhi-pair-list (pairClickHandle)="setPair($event)" [tableData]="pairList"></jhi-pair-list>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
                        <div class="trailing-container">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <label>Trailing Stop</label>
                                <ui-switch [(ngModel)]="trailingStop" size="small" color="#1375b4"></ui-switch>
                            </div>
                            <div class="trailing-body">
                                <form>
                                    <div class="form-group">
                                        <label for="profit">Take Profit</label>
                                        <span class="d-flex align-items-center">
                                            <input type="number" class="form-control text-right" id="profit" aria-describedby="profit-description" placeholder="Profit">
                                            <i class="fas fa-percentage ml-2"></i>
                                        </span>
                                        <small id="profit-description" class="form-text text-muted">0.12345678 XMR</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="stop-loss">Stop Loss</label>
                                        <span class="d-flex align-items-center">
                                            <input type="number" class="form-control text-right" id="stop-loss" aria-describedby="stop-loss-description" placeholder="Profit">
                                            <i class="fas fa-percentage ml-2"></i>
                                        </span>
                                        <small id="stop-loss-description" class="form-text text-muted">0.12345678 XMR</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="dashboard-card">
                <div id="trading-chart"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3 overposition">
        <div class="col-md-7">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': statusTab === 'opened'}" (click)="statusTabSwitch('opened')">Opened</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': statusTab === 'closed'}" (click)="statusTabSwitch('closed')">Closed</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="dashboard-card">
                <jhi-data-table [dataTable]="openedTable" *ngIf="statusTab === 'opened'"></jhi-data-table>
                <jhi-data-table [dataTable]="closedTable" *ngIf="statusTab === 'closed'"></jhi-data-table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="dashboard-card">
                <jhi-order-book></jhi-order-book>
            </div>
        </div>
    </div>
</div>
