@import '../../content/scss/variables';

.trailing-container {
  width: 100%;
  .trailing-body {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 10px;
    input {
      font-size: .8rem;
      height: 24px;
    }
    small {
      font-size: .6rem;
    }
  }
}
