<div class="modal-header">
    <h4 class="modal-title" *ngIf="modalParams.title">{{ modalParams.title }}</h4>
    <a aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" *ngIf="!modalParams.hideClose">
        <span aria-hidden="true">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </a>
</div>
<div class="modal-body">
    <div *ngIf="modalParams.contentText">{{ modalParams.contentText }}</div>
    <div *ngIf="modalParams.contentHtml" [innerHTML]='modalParams.contentHtml'></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss('closed')" *ngIf="modalParams.cancelButton">{{ modalParams.cancelButton }}</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">{{ modalParams.acceptButton }}</button>
</div>
