<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 col-md-3 col-xl-2 mt-3 mt-md-5">
            <div class="logo row justify-content-center">
                <img src="/content/images/logos/tororellenoopcion2.png" alt="">
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
