<div [ngSwitch]="isAuthenticated()">
    <div class="row justify-content-center" *ngSwitchCase="false">
        <div class="col-sm-6 col-md-3 col-xl-2 mt-3 mt-md-5">
            <button type="button" routerLink="/account/login" class="btn btn-login btn-block">Login</button>
            <button type="button" class="btn btn-google btn-block">Login with Google</button>
            <button type="button" class="btn btn-linkedin btn-block">Login with Linkedin</button>
            <hr class="mt-4 mb-4">
            <button type="button" routerLink="/account/register" class="btn btn-register btn-block">Create account</button>
        </div>
    </div>
</div>
