#account-table {
  border-collapse:collapse;
}
.table-row {
  display: contents;
}

tr.hide-table-padding {
  td {
    padding: 0;

  }
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
