<h4>Exchange Status</h4>
<p>You can activate or desactivate connected exchanges, just click on slide to ON for activating or OFF for desactivating.</p>
<div class="table-responsive mt-4">
  <table class="datatable table">
    <thead>
    <tr>
      <th scope="col">Exchange</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col" class="text-center">Created at</th>
      <th scope="col" class="text-center">OFF / ON</th>
      <th scope="col" class="text-center">API Key</th>
    </tr>
    </thead>
    <tbody>
    <span class="table-row" *ngFor="let exchange of exchanges; index as i">
      <tr>
        <td>{{ exchange.name }}</td>
        <td class="text-center">
          <jhi-status-dot [dotData]="{'color': exchange.statusColor, 'tooltipText': exchange.status, 'tooltipPlacement': 'right'}"></jhi-status-dot>
        </td>
        <td class="text-center">{{ exchange.createdDate }}</td>
        <td class="text-center">
          <ui-switch [(ngModel)]="exchange.active" (valueChange)="exchangeActiveChange($event)" size="small" color="#1375b4"></ui-switch>
        </td>
        <td class="text-center">
          <button class="btn btn-sm btn-light" (click)="toggleRow(i)">
            <span *ngIf="expandedElement !== i">Manage</span>
            <span *ngIf="expandedElement === i"><fa-icon [icon]="faTimes"></fa-icon></span>
          </button>
        </td>
      </tr>
      <tr class="hide-table-padding" [ngClass]="{'opened': expandedElement === i}">
        <td colspan="5">
          <div class="row justify-content-center" [@openClose]="(expandedElement === i) ? 'opened' : 'closed'">
            <div class="col-md-4">
              <h4>{{ exchange.name }} API Keys</h4>
              <p>Paste the KEYS APIs you have generated from the website. Press the confirm button to save the data correctly.</p>
            </div>
            <div class="col-md-8">
              <jhi-apikeys-form [exchange]="exchange"></jhi-apikeys-form>
            </div>
          </div>
        </td>
      </tr>
    </span>
    </tbody>
  </table>
</div>
