<span *ngFor="let item of data; let i = index" [ngSwitch]="types[i]">
    <span *ngSwitchCase="'percentage'"><jhi-percentage-cell [column]="{}" [data]="item"></jhi-percentage-cell></span>
    <span *ngSwitchCase="'price'"><jhi-price-cell [data]="item"></jhi-price-cell></span>
    <span *ngSwitchDefault><jhi-string-cell [data]="item"></jhi-string-cell></span>
</span>
