<span *ngIf="col.labelColors === undefined" class="badge badge-light">{{ data }}</span>
<span *ngIf="col.labelColors !== undefined" class="badge"
      [ngClass]="'badge-' + col.labelColors[data]">{{ data }}</span>
