<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-5 col-xl-3 mt-3 mt-md-5">
        <jhi-back-button [backLink]="'/account/index'"></jhi-back-button>
        <h1 class="text-center">Register</h1>

        <div class="alert alert-success" *ngIf="success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists">
            <strong>Email is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch">
            The password and its confirmation do not match!
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-5 col-xl-3">
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                         formControlName="email">
                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"
                           >
                        Your email is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"
                          >
                        Your email is invalid.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength"
                          >
                        Your email is required to be at least 5 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength"
                          >
                        Your email cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password">New password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                        formControlName="password">
                <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"
                           >
                        Your password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength"
                           >
                        Your password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength"
                           >
                        Your password cannot be longer than 50 characters.
                    </small>
                </div>
                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                        formControlName="confirmPassword">
                <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                          >
                        Your confirmation password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                         >
                        Your confirmation password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                          >
                        Your confirmation password cannot be longer than 50 characters.
                    </small>
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheckTerms" formControlName="customCheckTerms">
                <label class="custom-control-label" for="customCheckTerms"><small>I agree to the Terms & Conditions and the Provacy Policy</small></label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheckNewsletter" formControlName="customCheckNewsletter">
                <label class="custom-control-label" for="customCheckNewsletter"><small>I agree to recieve emails and notifications</small></label>
            </div>

            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-login btn-block mt-3 mb-1"
                    [disabled]="registerForm.invalid">Register</button>
        </form>

<!--        <div class="alert alert-warning">-->
<!--            <span>If you want to </span>-->
<!--            <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>-->
<!--        </div>-->
    </div>
</div>
