<div class="modal-header">
    <a aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </a>
</div>
<div class="modal-body">
    <jhi-login-form></jhi-login-form>
</div>
