<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-8 col-lg-9">
      <div class="dashboard-card">
        <jhi-data-table [dataTable]="usersTable"></jhi-data-table>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="dashboard-card">

      </div>
    </div>
  </div>
</div>

