<h1 class="text-center">Login</h1>
<div class="alert alert-danger" *ngIf="authenticationError">
    <strong>Failed to sign in!</strong> Please check your credentials and try again.
</div>
<form class="form mb-3" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form-group">
        <label class="username-label" for="username">Email</label>
        <input type="email" class="form-control" name="username" id="username" placeholder="Your email"
               formControlName="username" #username>
        <div *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty)">
            <small class="form-text text-danger" *ngIf="loginForm.get('username')?.errors?.required">
                Your email is required.
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
               formControlName="password">
        <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty)">
            <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.required">
                Your password is required.
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-login btn-block mt-3 mb-1" [disabled]="loginForm.invalid">Sign in</button>
    <div class="form-check">
        <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
            <span><small>Remember me</small></span>
        </label>
    </div>
</form>
<p><a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a></p>
<p>
    <span>You don't have an account yet?</span>
    <a class="alert-link" (click)="register()">Register a new account</a>
</p>
