<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#">
        <img [src]="'/content/images/logos/tororellenoopcion2.png'" alt="ctrading logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let item of menu" [ngClass]="{'opened': item.submenu !== undefined && item.submenu.opened}">
                <a class="nav-link" [ngClass]="{'active': item === currentNavbarItem || item === currentNavbarItemParent}" (click)="handleLink(item)">
                    <i class="{{ item.icon }} nav-item-icon"></i>
                    <span>{{ item.name | translate }}</span>
                </a>
                <div class="dropdown-container" *ngIf="item.submenu !== undefined && item.submenu.opened" [ngClass]="{'dropdown-active': activeSubmenu === 2}">
                    <ul class="dropdown dropdown-level1" [@submenuShowUp]>
                        <li class="dropdown-item" *ngFor="let subItem of item.submenu.nodes" [ngClass]="{'active-subitem': subItem === currentNavbarItem}">
                            <a class="dropdown-link" (click)="handleSubLink(subItem)">
                            <span>
                                <span class="icon-button">
                                    <i class="{{ subItem.icon }}"></i>
                                </span>
                                <span>{{ subItem.name | translate }}</span>
                            </span>
                            <span class="icon-button" *ngIf="subItem.submenu">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="dropdown dropdown-level2">
                        <li class="dropdown-item">
                            <a class="dropdown-link" (click)="submenuBack()">
                            <span>
                                <span class="icon-button">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown-item" *ngFor="let subItem of dropdownLevel2" [ngClass]="{'active-subitem': subItem === currentNavbarItem}">
                        <a class="dropdown-link" (click)="handleSubLink(subItem)">
                            <span>
                                <span class="icon-button">
                                    <i class="{{ subItem.icon }}"></i>
                                </span>
                                <span>{{ subItem.name | translate }}</span>
                            </span>
                            <span class="icon-button" *ngIf="subItem.submenu">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

<!--        <a class="btn btn-secondary mr-3" (click)="showToast()">Toast</a>-->

        <jhi-translation></jhi-translation>
        <div class="navbar-user-space" *ngIf="user">
            <div class="navbar-username">{{ user.login }}</div>
            <img class="navbar-user-avatar rounded-circle" [src]="user.imageUrl" alt="{{ user.login }}">
            <div class="navbar-user-options" ngbDropdown>
                <button class="btn btn-light btn-circle" ngbDropdownToggle>
                    <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/profile" ngbDropdownItem>{{ 'USER.PROFILE' | translate }}</a>
                    <a class="dropdown-item" routerLink="/account/index" ngbDropdownItem>{{ 'USER.ACCOUNT' | translate }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" ngbDropdownItem>{{ 'USER.LOGOUT' | translate }}</a>
                </div>
            </div>
        </div>
        <div *ngIf="!user">
            <a class="btn btn-primary" routerLink="/account/index">{{ 'USER.LOGIN' | translate }}</a>
        </div>
    </div>
</nav>
