@import "../../../content/scss/imports";

:host {
  color: $dashboard-text-color;
  .navbar {
    background-color: var(--card-background);
    border-bottom: 1px solid var(--card-border);
    padding: 0 20px;
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
    .navbar-nav {
      .nav-item {
        height: 60px;
        position: relative;
        .nav-link {
          border-bottom: 2px solid transparent;
          //border-radius: $navbarmenu-border-radius $navbarmenu-border-radius 0 0;
          color: var(--on-primary);
          display: flex; align-items: center;
          font-weight: normal;
          height: 100%;
          padding: 0 20px;
          transition: background $navbarmenu-transition-speed;
          &.active {
            border-bottom-color: var(--headlines);
            .nav-item-icon {
              color: var(--headlines);
            }
          }
        }
        .nav-item-icon {
          font-size: 18px;
          margin-right: 6px;
        }
        .dropdown-container {
          display: flex; align-items: start;
          overflow: hidden;
          position: absolute;
          width: 300px;
          z-index: $zindex-dropdown;
          .dropdown {
            transition: left $navbarmenu-transition-speed * 3;
            &.dropdown-level1 {
              left: 0;
            }
            &.dropdown-level2 {
              left: 0;
            }
          }
          &.dropdown-active {
            .dropdown {
              left: -300px;
            }
          }

          @include media-breakpoint-down(lg) {
            position: relative;
            width: 100%;
            z-index: 1;
            &.dropdown-active {
              .dropdown {
                left: -100%;
              }
            }
          }
        }
        .dropdown {
          background-color: $navbarmenu-bg-color;
          border: $navbarmenu-border-color;
          border-radius: 0 0 $navbarmenu-border-radius $navbarmenu-border-radius;
          flex-shrink: 0;
          overflow: hidden;
          padding: 1rem;
          width: 100%;
          .dropdown-item {
            border-radius: $navbarmenu-border-radius;
            font-weight: normal;
            margin-top: 3px;
            padding: 0;
            transition: background $navbarmenu-transition-speed * 2;
            &:hover,
            &.active-subitem {
              background-color: lighten($navbarmenu-bg-color, 10%);
            }
            &.active-subitem {
              a {
                cursor: default;
              }
            }
            .dropdown-link {
              color: white;
              display: flex; align-items: center; justify-content: space-between;
              font-weight: normal;
              padding: .5rem .8rem;
              .icon-button {
                margin-right: 5px;
              }
              .icon-right {
                margin-left: auto;
              }
            }
          }
        }
        &.opened {
          .nav-link {
            background-color: $navbarmenu-bg-color;
            color: white;
            transition: background $navbarmenu-transition-speed;
            .nav-item-icon {
              color: white;
            }
          }
        }
      }

      @include media-breakpoint-down(lg) {
        .nav-item {
          .nav-link {
            &.active {
              background-color: var(--headlines);
              border-bottom-color: transparent;
              color: white;
              .nav-item-icon {
                color: white;
              }
            }
          }
        }
      }
    }
    .navbar-user-space {
      display: flex; align-items: center; justify-content: flex-end;
      .navbar-username {
        margin-right: 10px;
      }
      .navbar-user-avatar {
        height: 32px;
      }
      .navbar-user-options {
        display: flex; align-items: center;
        height: 60px;
        margin-left: 15px;
      }
    }
  }
}
