.btn {
  font-size: 12px;
  text-transform: uppercase;
  &:not(&-light) {
    color: white;
  }
  &-google {
    background-color: $color-button-google;
    &:hover {
      background-color: darken($color-button-google, 10%);
    }
  }
  &-linkedin {
    background-color: $color-button-linkedin;
    &:hover {
      background-color: darken($color-button-linkedin, 10%);
    }
  }
  &-register {
    background-color: $color-button-register;
    &:hover {
      background-color: darken($color-button-register, 10%);
    }
  }
  &-login {
    background-color: $color-button-login;
    &:hover {
      background-color: darken($color-button-login, 10%);
    }
  }
  &:hover {
    color: white;
  }
  &.disabled,
  &:disabled {
    background-color: $grey;
    opacity: .3;
    cursor: not-allowed;
    &:hover {
      background-color: $grey;
    }
  }

  &.btn-circle {
    border-radius: 15px;
    display: flex; align-items: center; justify-content: center;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
    &.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      line-height: 1.33;
    }
  }
}
