.dashboard-card {
  background-clip: border-box;
  background-color: var(--card-background);
  //border: 1px solid $dashboard-column-border-color;
  border: 1px solid var(--card-border);
  border-radius: .25rem;
  color: var(--on-background);
  flex: 1 1 auto;
  margin-bottom: 1.25rem;
  min-height: 1px;
  padding: 1.25rem;
  word-wrap: break-word;
}
