.switch {
  &.switch-small {
    width: 42px !important;
    .switch-text {
      font-size: 8px !important;
      font-weight: bold !important;
    }
    small {
      left: 2px !important;
      top: 2px !important;
      height: 16px !important;
      width: 16px !important;
    }
    &.checked {
      small {
        left: 24px !important;
      }
    }
  }
}
