.dropdown-menu {
  background-color: var(--card-background);
  border-color: var(--card-border);
}

.dropdown-item {
  color: var(--on-primary);
  &:not([href]) {
    color: var(--on-primary);
  }
  &:hover {
    background-color: var(--headlines);
    color: white;
  }
}

.dropdown-toggle {
  &.btn-circle {
    &::after {
      display: none;
    }
  }
}

.dropdown-menu-right {
  left: auto !important;
  right: 0 !important;
  .dropdown-item {
    text-align: right;
  }
}
