/* ==============================================================
Variable font
===============================================================*/

@font-face {
  font-family: 'Quicksand';
  src: url('/content/fonts/Quicksand-VariableFont_wght.ttf');
}

/* ==============================================================
Static font
===============================================================*/

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('/content/fonts/static/Quicksand-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('/content/fonts/static/Quicksand-Bold.ttf');
  font-weight: 700;
}
