label {
  font-size: .8em;
  margin-bottom: .2rem;
}

.form-control,
.form-control:focus {
  background-color: var(--card-background);
  border-color: var(--card-border);
  color: var(--on-primary);
}
