.loading-container {
  display: flex; align-items: center; justify-content: center;
  min-height: 200px;
  position: relative;
  &::after {
    //background-color: transparentize(white, .5);
    background-image: url(/content/images/loader/ctrading-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
    content: '';
    position: absolute; bottom: 0; left: 0; right: 0; top: 0;
  }
}
