.modal {
  .modal-header {
    border-bottom: 0;
    color: $primary;
    display: block;
    padding: 0;
    text-align: center;
    .modal-title {
      padding: 1rem 1rem;
    }
    .close {
      color: white;
      position: absolute;
      right: 0;
      top: -35px;
    }
  }

  .modal-content {
    .modal-section-title {
      color: $modalSectionTitleColor;
      //border-bottom: 1px solid $modalSectionTitleColor;
      font-size: 1em;
      font-weight: normal;
      padding-bottom: 5px;
    }
    .modal-content-title {
      color: $body-color;
      font-weight: bold;
      text-transform: uppercase;
    }
    .highlight-data {
      color: #2FBF2F;
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  @include media-breakpoint-up(sm) {
    .modal-dialog {
      margin: 3.75rem auto;
    }
  }
}
