.pagination {
  margin-bottom: 0;
  li.page-item {
    .page-link {
      border-color: transparent;
      display: flex; align-items: center; justify-content: center;
      height: 32px; width: 32px;
      font-size: $pagination-font-size;
      padding: 0;
    }
    &.active {
      .page-link {
        cursor: default;
      }
    }
    &.disabled {
      cursor: default;
      opacity: .5;
    }
    &:hover {
      &:not(.active):not(.disabled) {
        .page-link {
          background-color: $pagination-active-bg;
          color: $pagination-active-color;
          &::before {
            color: $pagination-active-color;
          }
        }
      }
    }
    &:first-child,
    &:nth-child(2),
    &:last-child,
    &:nth-last-child(2) {
      margin-left: 2px;
      margin-right: 2px;
      span {
        display: none;
      }
      .page-link {
        border-radius: 50%;
        @extend %fa-icon;
        @extend .fas;
        position: relative;
        &::before {
          color: $pagination-active-bg;
          display: flex; align-items: center; justify-content: center;
          font-size: $pagination-font-size;
          position: absolute; left: 0; top: 0;
          height: 32px; width: 32px;
          z-index: 1;
        }
      }
    }
    &:nth-child(3) {
      a {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
    }
    &:nth-last-child(3) {
      a {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
    &:first-child {
      a {
        &::before {
          content: fa-content($fa-var-angle-double-left);
        }
      }
    }
    &:nth-child(2) {
      margin-right: 4px;
      a {
        &::before {
          content: fa-content($fa-var-angle-left);
        }
      }
    }
    &:last-child {
      a {
        &::before {
          content: fa-content($fa-var-angle-double-right);
        }
      }
    }
    &:nth-last-child(2) {
      margin-left: 4px;
      a {
        &::before {
          content: fa-content($fa-var-angle-right);
        }
      }
    }
  }
}

.dashboard-card {
  .pagination {
    li.page-item {
      &:not(.active) {
        .page-link {
          background-color: $pagination-background-color;
        }
      }
    }
  }
}

jhi-item-count {
  font-size: $pagination-font-size;
}

@mixin pagination-sm {
  .pagination {
    li.page-item {
      .page-link {
        font-size: $pagination-font-size - 2px;
        height: 24px;
        width: 24px;
      }
      &:first-child,
      &:nth-child(2),
      &:last-child,
      &:nth-last-child(2) {
        .page-link {
          &::before {
            font-size: $pagination-font-size - 2px;
            height: 24px; width: 24px;
          }
        }
      }
    }
  }
  jhi-item-count {
    font-size: $pagination-font-size - 2px;
  }
}

@include media-breakpoint-down(xs) {
  @include pagination-sm;
}
.pagination-sm {
  @include pagination-sm;
}
