.datatable-title {
  font-size: 18px;
}
.datatable {
  color: $dashboard-text-color;
  font-size: 0.8rem;
  thead {
    th {
      border-width: 0 0 2px 0;
      border-color: var(--card-border);
      //font-weight: normal;
    }
  }
  tbody {
    tr {
      &.selected {
        td {
          background-color: var(--card-border);
        }
      }
      &:first-child {
        td {
          border-top: 0;
        }
      }
      td {
        border-top: 1px solid var(--card-border);
        vertical-align: middle;
        .progress {
          height: 3px;
          .progress-bar {
            background-color: $success;
          }
        }
        &.datatable-icon-cell {
          width: 32px;
          .datatable-icon {
            border-radius: 50%;
            display: block;
            height: 32px; width: 32px;
            overflow: hidden;
            position: relative;
            img {
              max-height: 100%;
              max-width: none;
              min-width: 100%;
              position: absolute; left: 50%; top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        &.text-center {
          > span {
            justify-content: center;
          }
        }
      }
    }
  }
  &.table-clickable {
    tbody {
      tr {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.rows-height-sm {
  tr,
  th,
  td {
    padding: .25rem;
  }
}
