.nav-tabs {
  border-bottom: 0;
  .nav-link {
    color: var(--tabs-color);
    background-color: var(--tabs-inactive-color);
    border-color: var(--card-border);
    font-weight: normal;
    margin-right: 5px;
    &.active {
      background-color: var(--card-background);
      border-color: var(--card-border);
      border-bottom-color: transparent;
      color: var(--tabs-color);
      cursor: default;
    }
    &:not(.active):hover {
      background-color: var(--card-background);
      border-color: var(--card-border);
      color: var(--tabs-color);
    }
  }
}
