@import 'bootstrap-variables';
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$white: #fff;
$grey: #999;

/* ==============================================================
BUTTONS
===============================================================*/
$color-button-google: #e82034;
$color-button-linkedin: #1d7bbf;
$color-button-register: #022256;
$color-button-login: #1364ff;

/* ==============================================================
DASHBOARD
===============================================================*/

$dashboard-background-color: #e9e9e9; // #f6f8f9;
$dashboard-column-border-color: #eaedf0;
$dashboard-text-color: #777;

/* ==============================================================
PAGINATION
===============================================================*/
$pagination-background-color: $dashboard-background-color;
$pagination-font-size: 12px;
$pagination-active-border-color: darken($dashboard-background-color, 10%);

/* ==============================================================
FORMS
===============================================================*/
$input-border-color: #ced4da;

/* ==============================================================
NAVBAR MENU
===============================================================*/
$navbarmenu-bg-color: $primary;
$navbarmenu-border-color: darken($primary, 10%);
$navbarmenu-border-radius: 3px;
$navbarmenu-transition-speed: 100ms;
$navbarmenu-active-item-color: $navbarmenu-bg-color; //#1e13ff;

/* ==============================================================
MODAL
===============================================================*/

$modalSectionTitleColor: #b5b5b5;
