.dark-mode {
  .btn-light {
    background-color: #323438 !important;
    background-color: var(--card-background) !important;
    border-color: var(--card-border) !important;
    color: var(--on-primary) !important;
  }

  .datatable {
    &.table-hover {
      tbody {
        tr:hover {
          background-color: rgba(255, 255, 255, .075);
          color: var(--on-primary);
        }
      }
    }
  }
}
