<div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-5 col-xl-3 mt-3 mt-md-5">
            <jhi-back-button [backLink]="'/account/index'"></jhi-back-button>
            <h1 class="text-center mb-3">Reset your password</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Email address isn't registered!</strong> Please check and try again.
            </div>

            <div [class]="!error ? 'd-none' : null">
                <jhi-alert-error></jhi-alert-error>
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Enter the email address you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <p>Check your emails for details on how to reset your password.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email" #email>
                    <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email')?.errors?.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email')?.errors?.email">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-login btn-block mt-3 mb-1">Reset</button>
            </form>
        </div>
    </div>
</div>
