<div class="modal-header">
    <a aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">
            <i class="fas fa-times"></i>
        </span>
    </a>
</div>
<div class="modal-body">
    <h5 class="modal-section-title mb-1">Trade detail</h5>
    <hr class="mt-0 pt-0">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-3">
            <h4 class="modal-content-title">Arbitrage</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="modal-content-title px-3">{{ trade.name }}</h4>
        </div>
        <div class="col-6">
            <table class="w-100">
                <tr>
                    <td>Opened</td>
                    <td>05/12/2018</td>
                </tr>
                <tr>
                    <td>Closed</td>
                    <td>05/12/2018</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 d-flex">
            <div class="px-3">Exchange</div>
            <div>
                <p>
                    <span class="font-weight-bold">Bitfinex</span><br>
                    <span>0.0003432</span>
                </p>
                <p>
                    <span class="font-weight-bold">Bittrex</span><br>
                    <span>0.0003532</span>
                </p>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <div class="highlight-data">+23.89%</div>
            <div>Profit</div>
        </div>
    </div>
</div>
